/* ===== تصميم الموقع ===== */

body{
    font-family: Tahoma, Arial;
    background:#020617;
    color:#e5e7eb;
    text-align:center;
    padding:40px;
    direction:rtl;
    margin:0;
}

/* الصندوق الرئيسي */
.container{
    background:#0f172a;
    padding:35px;
    border-radius:18px;
    max-width:600px;
    margin:auto;
    box-shadow:0 0 30px rgba(0,0,0,0.5);
}

/* العنوان */
h1{
    margin-bottom:10px;
}

/* الحقول */
input{
    padding:12px;
    margin:8px;
    width:90%;
    border-radius:10px;
    border:none;
    outline:none;
    font-size:15px;
}

/* زر التنظيف */
button{
    padding:14px;
    width:95%;
    border:none;
    border-radius:14px;
    background:linear-gradient(90deg,#2563eb,#1d4ed8);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    opacity:0.85;
    transform:scale(1.02);
}

/* زر التحميل */
a{
    display:inline-block;
    background:linear-gradient(90deg,#16a34a,#22c55e);
    color:white;
    padding:14px 20px;
    border-radius:14px;
    text-decoration:none;
    margin-top:15px;
}
